.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
.header button {
    background-color: #3a3939;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.header button.active {
    background-color: #d9534f;
    border: none;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.card {
    background-color: #fff;
    color: #3a3939;
    width: 22%;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card .icon {
    font-size: 50px;
    color: #d9534f;
    justify-content: baseline;
}
.card .icon i{
    font-size: 30px;
    color: #d9534f;
}

.card .icon span {
    color: #000;
    font-size: 25px;
}
.card .name {
    font-size: 20px;
    margin: 10px 0;
}
.card .role {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}
.card button {
    background: linear-gradient(to right, #d9534f, #c9302c);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}